$base: #5489cb;
$black: #3a3f46;
$gray0: #f8f9fa;
$gray1: #ebedef;
$gray2: #dde0e4;
$gray3: #ced3d9;
$gray4: #bec4cc;
$gray5: #abb3bd;
$gray6: #96a0ad;
$gray7: #7e8a98;
$gray8: #636c78;
$gray9: #3a3f46;
$blue0: #eaf1f8;
$blue1: #d4e1f2;
$blue2: #bbd0ea;
$blue3: #9fbde1;
$blue4: #7ea6d7;
$blue5: #548acb;
$blue6: #4b7cb7;
$blue7: #426ca0;
$blue8: #365984;
$blue9: #263f5d;
$indigo0: #edecf9;
$indigo1: #dad8f3;
$indigo2: #c4c1ec;
$indigo3: #aaa7e4;
$indigo4: #8985da;
$indigo5: #5a54cb;
$indigo6: #504bb6;
$indigo7: #46419e;
$indigo8: #393582;
$indigo9: #28255a;
$violet0: #f3ecf9;
$violet1: #e6d7f3;
$violet2: #d8c0eb;
$violet3: #c7a5e3;
$violet4: #b283d9;
$violet5: #9554cb;
$violet6: #864bb6;
$violet7: #75429f;
$violet8: #603683;
$violet9: #43265c;
$fuschia0: #f9ecf8;
$fuschia1: #f3d7f1;
$fuschia2: #ebc0e9;
$fuschia3: #e3a4e0;
$fuschia4: #d983d5;
$fuschia5: #cb54c5;
$fuschia6: #b74bb1;
$fuschia7: #a0429b;
$fuschia8: #843680;
$fuschia9: #5e275b;
$pink0: #f9ecf2;
$pink1: #f3d7e4;
$pink2: #ebc0d4;
$pink3: #e3a5c1;
$pink4: #d983aa;
$pink5: #cb548a;
$pink6: #b74b7c;
$pink7: #a0426c;
$pink8: #843659;
$pink9: #5d263f;
$red0: #f9ecec;
$red1: #f2d8d7;
$red2: #ebc2c0;
$red3: #e3a7a4;
$red4: #d98783;
$red5: #cb5a54;
$red6: #b7514b;
$red7: #a04642;
$red8: #843a36;
$red9: #5d2926;
$orange0: #f8f1e9;
$orange1: #f1e2d1;
$orange2: #e9d2b7;
$orange3: #e0c19b;
$orange4: #d6ac7a;
$orange5: #cb9554;
$orange6: #b7864b;
$orange7: #a07542;
$orange8: #856137;
$orange9: #5f4527;
$yellow0: #f6f7e7;
$yellow1: #eef0cd;
$yellow2: #e5e7b3;
$yellow3: #dbdf96;
$yellow4: #d0d576;
$yellow5: #c5cb54;
$yellow6: #b2b74c;
$yellow7: #9ca142;
$yellow8: #828637;
$yellow9: #5d6028;
$lime0: #eff8e8;
$lime1: #def0cf;
$lime2: #cce8b5;
$lime3: #b8df98;
$lime4: #a2d678;
$lime5: #8acb54;
$lime6: #7cb74b;
$lime7: #6da142;
$lime8: #5a8537;
$lime9: #416027;
$green0: #e9f8ea;
$green1: #d2f1d4;
$green2: #b9e9bb;
$green3: #9ce1a0;
$green4: #7bd780;
$green5: #54cb5a;
$green6: #4bb751;
$green7: #42a147;
$green8: #37853b;
$green9: #27602a;
$teal0: #e9f8f1;
$teal1: #d1f1e2;
$teal2: #b7e9d2;
$teal3: #9be0c1;
$teal4: #7ad6ac;
$teal5: #54cb95;
$teal6: #4bb786;
$teal7: #42a176;
$teal8: #378562;
$teal9: #276046;
$cyan0: #e9f7f8;
$cyan1: #d1eff1;
$cyan2: #b7e6e9;
$cyan3: #9adde0;
$cyan4: #7ad1d6;
$cyan5: #54c5cb;
$cyan6: #4bb2b7;
$cyan7: #429ca1;
$cyan8: #378185;
$cyan9: #275d60